---
permalink: /rss/feed.xml
eleventyExcludeFromCollections: true
meta:
  title: Aaron Peters Web Performance Blog
  url: https://www.aaronpeters.nl
  author:
    name: Aaron Peters
  feed:
    subtitle: 
    filename: feed.xml
    path: /rss/feed.xml
    url: https://www.aaronpeters.nl/rss/feed.xml
    id: https://www.aaronpeters.nl/
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.title }}</title>
  <subtitle>{{ meta.feed.subtitle }}</subtitle>
  <link rel="self" href="{{ meta.feed.url }}" />
  <link rel="alternate" type="text/html" href="{{ meta.url }}"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ meta.feed.id }}</id>
  <author>
    <name>{{ meta.author.name }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {% if not post.data.draft %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(meta.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ post.date | rssDate }}</published>{% if post.data.dateUpdated %}<updated>{{ post.data.dateUpdated | rssDate }}</updated>{% endif %}
    <id>{{ absolutePostUrl }}</id>
    <description type="text/plain">{{ post.data.summary }}</description>
    <content type="text/html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {% endif %}
  {%- endfor %}
</feed>