---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: /en/
Disallow: /sandbox/
Disallow: /blog/testpages/
Disallow: /static/testpages/
Disallow: /blog/measure-site-speed-on-iphone-in-the-netherlands
Disallow: /blog/non-blocking-google-adsense-ads-improve-page-speed
Disallow: /blog/prevent-double-callback-execution-in-IE9
Disallow: /blog/IE9-performance-checklist
Disallow: /blog/web-performance-conference-velocity-2012
Disallow: /blog/google-plus1-button-performance-review
Disallow: /blog/velocity-barcelona-2014-raffle
Disallow: /blog/velocity-nyc-2013-raffle
Disallow: /blog/web-performance-quiz-2012
Disallow: /blog/velocity-nyc-2014-raffle
