---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /blog/tags/{{ tag }}/
layout: layouts/base.njk
---

<p>Articles tagged <span class="tag-inactive-large">{{ tag }}</span></p>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}

<nav>
  ← go back to the <a href="{{ '/blog/' | url }}">Web Performance Blog</a>
</nav>
