
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="description" content="{{ renderData.description or description }}">
  
  <meta name="referrer" content="no-referrer-when-downgrade">
  <meta name="robots" content="index,follow">

  <title>{{ renderData.title or title or metadata.title }}</title>

  <link rel="alternate" type="application/rss+xml" title="Aaron Peters Web Performance Blog" href="{{ metadata.url + "/rss/feed.xml" }}" />
  <link rel="icon" href="/favicon.ico">

  {% include "components/seo.njk" %}
  
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-9166753-1', 'auto');
  ga('send', 'pageview');
  </script>
  {# <script>{{ js | jsmin | safe }}</script> #}

  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
	
  <style>{{ css | cssmin | safe }}</style>
  
  <script defer src='https://www.google-analytics.com/analytics.js'></script>
  
</head>
