<nav>
  {%- for nav in collections.navAscending -%}
    <a href="{{ nav.url | url }}" 
    	{% if nav.url in page.url %}
    		data-current="current item"
    	{% endif %}
  		{% if nav.data.secondary %}
  			class="secondary"
  		{% endif %}>
    	{{ nav.data.navtitle }}
    </a>
  {%- endfor -%}
</nav>
