<section class="postlist">
	{% for post in postslist | reverse %}
		{% if not post.data.draft %}
			<article class="postlist-item"{% if post.url == url %} data-current="current item"{% endif %}>
				<h2 class="postlist-title">
					<a href="{{ post.url | url }}">
						{% if post.data.title %}
							{{ post.data.title }}
						{% else %}
							Untitled
						{% endif %}
					</a>
				</h2>
				<p>
					<time class="postlist-date" datetime="{{ post.date | machineDate }}">
						{{ post.date | readableDate }} {# by {{ metadata.author.name }} #}
					</time>
				</p>
				{% if post.data.summary %}
					<p>
						{{ post.data.summary }}
					</p>
				{% endif %}
				{% if post.data.tags %}
					<p>
						{% for tag in post.data.tags %}
			  			{%- if tag != "post" -%}
			  				{% set tagUrl %}/blog/tags/{{ tag }}/{% endset %}
			  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
			  			{%- endif -%}
						{% endfor %}
					</p>
				{% endif %}
			</article>
		{% endif %}
	{% endfor %}
</section>
