<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<div class="wrapper header">
			<header>
				<em>
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</em>
			</header>
		</div>

		<div class="wrapper nav">
			{% include "components/nav.njk" %}
		</div>


		<div class="wrapper">
			<main>
				<img class="profile-pic slidein" src="/static/img/aaron-peters-profile-400x400.jpg">
				{{ layoutContent | safe }}
			</main>

			{% include "components/footer.njk" %}

		</div>

	<script>
		window.addEventListener('load', () => {
     setTimeout(() => {
      var t = window.performance && performance.timing;
      function round2(num) { return Math.round(num * 100) / 100; }
      if (t) {
        var timingStats = document.querySelector('.timing-stats');
        var loadTime = (t.loadEventEnd - t.navigationStart) / 1000;
        var timingStatsHTML = 'This page loaded in ' + round2(loadTime) + ' seconds. ';
        var performanceEntries = performance.getEntriesByType('paint');
        performanceEntries.forEach(function(performanceEntry, i, entries) {
          var name = performanceEntry.name;
          if (name === 'first-paint') {
            name = '<abbr title=' + name + '>FP</abbr>';
          } else if (name === 'first-contentful-paint') {
            name = '<abbr title=' + name + '>FCP</abbr>';
          }
          timingStatsHTML += name + ' was ' + round2(performanceEntry.startTime / 1000) + ' seconds. ';
        });
        timingStatsHTML += '<a href="https://jmperezperez.com/page-load-footer/">More info</a>.';
        timingStats.innerHTML = timingStatsHTML;
      }
    }, 0);
  })
	</script>

	</body>

</html>
