<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} {% if lang %} lang="{{ lang }}" {% else %} lang="en" {% endif %}>

	{% include "components/head.njk" %}

	<body>

		<div class="wrapper header">
			<header>
				<em>
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</em>
        <div class="lang-switch">
          <a href="/nl/">Nederlands</a>
        </div>
			</header>
		</div>

    <div class="wrapper nav scroll">
      {% include "components/nav-new.njk" %}
    </div>



		<div class="wrapper">
			<main>
				{{ layoutContent | safe }}
			</main>

			{% include "components/footer.njk" %}

		</div>

	</body>

</html>
