---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}


<div class="notice-msg info">
	You may also like a few articles I wrote on CDN Planet in 2017:
	<ul style="margin-bottom:0">
		<li>
			<a href="https://www.cdnplanet.com/blog/10-tips-optimize-cdn-performance/">10 Tips to Optimize CDN Performance</a>
		</li>
		<li>
			<a href="https://www.cdnplanet.com/blog/cdn-behavior-testing-dummy-origin/">CDN behavior testing with Dummy Origin</a>
		</li>
		<li>
			<a href="https://www.cdnplanet.com/blog/root-domain-on-cdn-performance/">Root domain on CDN and performance</a>
		</li>
		<li>
			<a href="https://www.cdnplanet.com/blog/faster-google-webfonts-preconnect/">Faster Google Fonts with Preconnect</a>
		</li>
	</ul>
</div>
